<h1>Editing User Monthly Product Information</h1>

<%= render 'form', user_monthly_product_information: @user_monthly_product_information %>

<%= link_to 'Show', @user_monthly_product_information %> |
<%= link_to 'Back', user_monthly_product_informations_path %>
