<p id="notice"><%= notice %></p>

<p>
  <strong>Information:</strong>
  <%= @user_monthly_product_information.information %>
</p>

<%= link_to 'Edit', edit_user_monthly_product_information_path(@user_monthly_product_information) %> |
<%= link_to 'Back', user_monthly_product_informations_path %>
